<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesion</title>
</head>
<body>
    <div class="contenedor centrar iniSesion">
        <main>
            <form action=""  method="post" >
              
              <img src="" alt="Imagen" width="72" height="65">
              <h1 class="h3 mb-3 fw-normal">iniciar sesion</h1>
              {% csrf_token %}
              {{ form }}
              <input type="submit" value="Entrar">
              <p>© 2017–2022</p>
            </form>
          </main>
      </div>
</body>
</html>